header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
footer {
	background-color: #5ce1e6;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	align-items: center;
	font-weight: bolder;
}
div.contenedor {
	margin: 15px;
}
div.busqueda {
	width: 65%;
	display: flex;
	align-items: center;
}
td div {
	display: flex;
	align-items: center;
}
img.lupa {
	width: 20px;
}
input {
	width: 90%;
	height: 30px;
	border: 2px black solid;
	border-radius: 10px;
}
button {
	background-color: #5ce1e6;
	border-radius: 30px;
	padding: 15px;
	border: none;
	font-weight: bolder;
	margin: 0 10px;
}
button:hover {
	cursor: pointer;
}
footer div img {
	height: 50px;
}
main {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
table {
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse;
}
td {
	width: 25%;
	padding: 10px;
	vertical-align: middle;
}
div.anuncio {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px;
	width: 300px;
	margin: 20px;
	display:flex;
	justify-content:space-between;
	display: inline-block;				
}
div.anuncios{
	text-align:center;
}
div.producto {
	position: relative;
}
div.imagen-anuncio {
	position: relative;
}
div.imagen-anuncio img {
	width: 100%;
	height: auto;
}
div.detalles {
	padding: 15px;
	text-align: center;
}
div.detalles p {
	margin: 5px 0;
}
p.negrita{
	font-weight: bolder;
}
img.transicion{
	opacity: 0;
	transition: opacity 3s ease-in-out;
}
body.loaded img {
	opacity: 1;
}
div.producto :hover{
	transform: scale(1.1);
}
div.uso{
	font-weight: bolder;
}
a{
	text-decoration:none;
	color:black;
}